@import url(variables.css);
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    background-color: var(--negro);
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.texto1{
    
    color: var(--blanco);
    
    text-align: center;
    
    width: 200px;
    background-color: var(--negro);
    
    
    
    
}
